* {
  list-style: none;
}
/* Estilos para el contenedor principal */
comunidad-component {
  display: block;

  /* Estilos para las columnas */
  div {
    padding: 10px;
    box-sizing: border-box;
  }

  /* Estilo para la columna 1 */
  div:nth-child(1) {
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
  }

  /* Estilo para la columna 2 */
  div:nth-child(2) {
    background-color: #ffffff;
    border-right: 1px solid #ddd;

    .posts {
      padding: 20px;
    }
  }

  /* Estilo para la columna 3 */
  div:nth-child(3) {
    background-color: #f0f0f0;
  }

  /* Estilos adicionales para los elementos dentro de las columnas */
  ul {
    list-style-type: none;
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
  }
}

.border-trending {
  background-color: #c2efd4;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-left: 10px;
  padding-bottom: 30px;
}

.trending {
  background-color: #267144;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 10px;
  color: #fff;

  .trending-content {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }

  p {
    font-size: 13px;
    color: #fff;
    margin-bottom: 7px;
  }
}

.advertising {
  p {
    font-size: 12px;
    font-weight: bold;
    color: #000;
  }
  .advertising-image {
    max-height: 250px;
    display: block; /* Hace que las imágenes ocupen todo el ancho de su contenedor */
    max-width: 100%; /* Asegura que las imágenes no se desborden de su contenedor */
    margin-bottom: 10px;
  }
}

.search-bar {
  background-color: #c2efd4;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
}

.search-bar div {
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  flex: 1;
}

.search-bar button {
  background-color: #ff6934;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

/* Estilos para los posts */
.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #c2efd4;
  padding: 17px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Estilos para un post individual */
.post {
  background-color: #267144;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
  h3 {
    background-color: #267144;
    padding: 7px;
    border-radius: 50px;
    padding-inline: 15px;
    margin: 0;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
  }
}

/* Estilos para el contenido del post */
.post-content {
  display: flex;
  align-items: center;
  background-color: #267144;
  padding: 10px;
}

.post-content img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 5px;
  margin-right: 10px;
}

.post-details {
  flex-grow: 1;
}

.post-description p {
  margin-bottom: 10px;
  font-weight: 100;
}

.post-details h4 {
  margin: 0;
}

/*

.tags {
  
}

*/

.tags span {
  margin-right: 5px;
  background-color: #b3b3b3;
  border-radius: 25px;
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  color: #000;
  font-size: 12px;
  font-weight: 500;
}

.post-details p {
  margin: 5px 0;
  font-weight: bold;
}

.post-date {
  color: gray;
}

.interaction {
  text-align: right;
  font-size: 24px;
  margin-top: 10px;
}

.post-stats {
  display: flex;
  justify-content: space-between;
  color: gray;
  margin-top: 10px;
}
