<br />
<br />
<br />
<br />
<div
  fxLayout.xs="column"
  fxLayoutAlign.xs="stretch start"
  fxLayout="row"
  fxLayoutAlign="space-between"
>
  
  <!-- Columna 1: Lista de temas populares -->
  <div fxFlex.xs="100" fxFlex.gt-sm="20">
    <div class="border-trending">
      <div class="trending">
        <div class="trending-content">
          <h3>Popular Topics</h3>
          <div *ngFor="let trend of trends">
            <p>{{ trend.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Columna 2: Barra de búsqueda y sección de posts -->
  <!--
  <mat-toolbar >
    <mat-toolbar-row>

      <mat-form-field>
        <input matInput placeholder="Buscar" />
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>
-->

  <div fxFlex.xs="100" fxFlex.gt-sm="60">
    <div class="search-bar">
      <div>Let's share what's on your mind...</div>
      <button routerLink="/createpost">Create Post</button>
    </div>


    <!--Sección datos falsos-->
    <div class="posts">
          <div *ngFor="let post of postsFalse">
            <div class="post-header">
              <h3>Agricultural events and fairs</h3>
            </div>
            <div class="post">
              <div class="post-content">
                <img [src]="post.image" alt="Imagen del Post" />
                <div class="post-details">
                  <h4>{{ post.title }}</h4>
                  <div class="tags">
                    <span *ngFor="let tag of post.tags">{{ tag }}</span>
                  </div>
                  <div class="post-description">
                    <p>{{ post.description }}</p>
                  </div>
                  <p>{{ post.author }}</p>
                  <p class="post-date">{{ post.date }}</p>
                  <div class="interaction">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </div>
                  <div class="post-stats">
                    <span>Views: {{ post.views }}</span>
                    <span>Likes: {{ post.likes }}</span>
                    <span>Comments: {{ post.comments }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>


    <!--Sección de datos db-->
    <div class="posts">
      <div *ngFor="let post of posts">
        <div class="post-header">
          <h3>Agricultural events and fairs</h3>
        </div>
        <div class="post">
          <div class="post-content">
            <img [src]="post.image" alt="Imagen del Post" />
            <div class="post-details">
              <h4>{{ post.title }}</h4>
              <div class="tags">
                <span *ngFor="let tag of post.tags">{{ tag }}</span>
              </div>
              <div class="post-description">
                <p>{{ post.description }}</p>
              </div>
              <p>{{ post.author }}</p>
              <p class="post-date">{{ post.date }}</p>
              <div class="interaction">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </div>
              <div class="post-stats">
                <span>Views: {{ post.views }}</span>
                <span>Likes: {{ post.likes }}</span>
                <span>Comments: {{ post.comments }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Sección de posts -->
  <!--Sección de publicidad-->
  <div class="container02">
    <div class="card6">
      <a href="https://www.agrisolucion.com/distribuidor/ver/greenhow/">
        <h5>Advertising</h5>
        <img src="https://i.imgur.com/O6WYNkN.png" alt="Título de la imagen" />
      </a>
      <!-- Repite el bloque de publicidad según sea necesario -->
    </div>
    <div class="card6">
      <a href="https://www.agrisolucion.com/distribuidor/ver/greenhow/">
        <h5>Advertising</h5>
        <img src="https://i.imgur.com/O6WYNkN.png" alt="Título de la imagen" />
      </a>
      <!-- Repite el bloque de publicidad según sea necesario -->
    </div>
    <div class="card6">
      <a href="https://www.agrisolucion.com/distribuidor/ver/greenhow/">
        <h5>Advertising</h5>
        <img src="https://i.imgur.com/O6WYNkN.png" alt="Título de la imagen" />
      </a>
      <!-- Repite el bloque de publicidad según sea necesario -->
    </div>
  </div>
</div>