.container {
  display: inline-block;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
}
.articlesx:hover{

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
  


}

@media screen and (max-width: 767px) {
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lista-izquierda {
    display: none;
  }
  .card6{
    display: none;
  }


  .centered {
    width: 100%;
    max-width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  
}
.lista-izquierda {
  width: 18%;
  max-width: 100%;
  margin-top: 7%;
  border: 3px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  height: 36%;
  max-height: 100%;
  margin-left: 3vw;
  margin-right: 3vw;
  
}
#fecha{
  text-align: center;
  background-color:#C2EFD4;
}

.centered {
  width: 45%;
  max-width: 45%;
  margin-top: 7%;
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  height: auto;
}




.card {
  //text-align: center;
  padding: 1px;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 99.3%;
  max-width: 99.3%;
  height: 100%;
  max-height: 100%;
  margin-top: 10px;
}
.card h2{
  text-align: center;
  padding-left: 2%;
  padding-right: 2%; 
  font-size: 1.5rem;
  margin-top: 10px;
  color: #0e9b47;
}
.card p{
  color: #000000;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%; 
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 1%;
  color: #000000;
}

.card img {
  width: 100%;
  height: auto;
}
.card .date {
  text-align: center;
  padding: 5px;
  font-size: 1rem;
  color: #0e9b47;
  margin: 0; /* Eliminar márgenes por defecto */
}
.card:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;

}

.card6:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;

}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.card1 img {
  width: 100%;
  height: 200px; /* Establecer una altura fija para las imágenes */
  object-fit: cover; /* Asegurar que las imágenes mantengan su proporción mientras se recortan para llenar el espacio */
}

.card1 h2 {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  color: #0e9b47;
  margin: 0; /* Eliminar márgenes por defecto */
}

.card1 .date {
  text-align: center;
  padding: 5px;
  font-size: 1rem;
  color: #0e9b47;
  margin: 0; /* Eliminar márgenes por defecto */
}

.card1 p {
  padding: 10px;
  font-size: 1rem;
  color: #333;
  margin: 10px 0 0 0; /* Ajustar el margen para encajar mejor */
  text-align: justify; /* Justificar el texto para mejor alineación */
  max-height: 100px; /* Limitar la altura máxima del texto */
  overflow: hidden; /* Ocultar cualquier desbordamiento de texto */
  text-overflow: ellipsis; /* Añadir elipsis para el texto que desborda */
}


.card1:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

-------------------------------------------------
.tendencia-card {
  background-color: transparent;
  border: none;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.tendencia-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 5px;
}

.card,
.card2 {
  text-align: left;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.card img{
  width: 100%;
  height: auto;
}

.card h2,
.card p,
.card2 h5 {
  margin-left: 1vw;
}

.card2 {
  padding-right: 4%;
  padding-bottom: 2%;
  width: auto;
  max-width: 100%;
  height:auto;
  max-height: 100%;
  margin-top: 7%;
  margin-bottom: 10%;
  padding-top: 1%;
  border: 3px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.card2 img{
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  max-width: 100%;
  height:auto;
  max-height: 100%;
}


.container02{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  height: 100%;
  min-height: 100%;
  max-width: 100%;
  margin-top: 7%;
}
.card6 {
  text-align: left;
  width: auto;
  height: auto;
  min-height: 36%;
  max-width: 100%;
  border: 3px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 12%;
  
}
.card6 h5{
  padding-top: 1.5%;
  padding-left: 3%;
}
.card6 img {
  padding-left: 2.5%;
  padding-right: 2%;
  width: 95%;
  height: 95%;
  max-height: auto;
  max-width: auto;
 
}

/*.card6 h5 {
  font-size: 0.1rem;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 2px;
}
*/

.card a:visited {
  color: #f9f9f9
}
.card1 a:visited {
  color: #f9f9f9
}
.card6 a:visited {
  color: green
}
.card2 a:visited {
  color: green
}
.lista-izquierda a:visited {
  color: #f9f9f9
}
.card2 :hover{
  
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  
}
