<br>
<br>
<div class="container">

    <!--Banner-->

    <section class="banner">
      <div class="containerB">
        <div class="boxB col2">
          <h1>Welcome to GreenGrow!</h1>
          <p id="txtBanner">
            Where the future of agriculture and self-sufficiency begins.
            Discover how you can grow your own food at home, learn the latest
            farming and hydroponics techniques, and join a passionate community.
            Are you ready to transform your way of living?
          </p>
          <button class="banner-button">
            Join Us
          </button>
        </div>
        <div class="col1">
            <img class="medium" src="https://cdn.discordapp.com/attachments/1223445236227903600/1254297092600627270/Mask_group.png?ex=6678fab2&is=6677a932&hm=5ac1386294602616204154e1b5e45165f8da16d0ffc16f911769fa69d44c33f3&.jpg">
        </div>
      </div>
    </section>

    <!--Cursos-->

    <br>
    <br>

    <section class="destacados">
      <div class="containerC">
        <div class="boxC col3">
          <h1>Most Featured</h1>
        </div>
        <div>
          <p id="txtDestacados">
            Cultivate your knowledge with GreenGrow's flagship courses and grow your passion for agriculture!
          </p>
        </div>
        <div class="mat-card-cvr">
          <mat-card class="card" *ngFor="let curso of courses">
            <mat-card-header>
              <mat-card-title>
                <img [src]="curso.image" alt="{{ curso.name }}">
              </mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
              <p>{{ curso.name }}</p>
              <p>{{ curso.description }}</p>
            </mat-card-content>
            <mat-card-actions class="mat-card-actions_wrapper">
              <button mat-button class="matBtn" (click)="redirectToPayment(curso)">$ {{ curso.price }}</button>
              <button mat-button class="matBtn">{{ curso.rating }} ⭐</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <br><br>
        <div class="text-center">
          <br><br>
          <a class="destacados-button" href="/courses" >See All 🡢</a>
        </div>
      </div>
      <br>
      <br>
    </section>


    <!--Oferta-->

</div>
