.mat-toolbar{
    background-color: #c8ecd4;
    color: #224f34;
    position: fixed;
    z-index: 999;
    margin-bottom: 20%;
}
.mat-button{
    color: white;
}
.spacer{
    flex: 1 1 auto;
}
.toolbar {
    display: flex;
    justify-content: space-between;
  }
  .sidenav {
    background-color: #c8ecd4;
  }