<section class="container">

    <div class="first-block">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="top">
            <h1 class="title">
                Explore issues and skills
            </h1>

            <button mat-raised-button color="disabled" (click)="openAddCourse()">Add Course</button>
        </div>
        <br>
        <br>
        <br>
        <br>


        <section class="container2">
            <div class="box-large">
                <img src="https://cdn.shopify.com/s/files/1/0257/4952/0469/files/Untitled_design_17_600x600.png" alt="Hidroponia">
                <div class="topleft">HYDROPONICS</div>
            </div>
            <div class="box1">
                <img src="https://www.esan.edu.pe/images/blog/2014/09/12/agronegocios-exitosos.jpg" alt="Agronegocios">
                <div class="bottomleft">AGRIBUSINESS</div>
            </div>
            <div class="box1">
                <img src="https://cdn0.ecologiaverde.com/es/posts/5/0/7/la_importancia_de_la_horticultura_para_el_medio_ambiente_3705_orig.jpg" alt="Horticultura">
                <div class="bottomleft">HORTICULTURE</div>
            </div>
            <div class="box1">
                <img src="https://www.gob.mx/cms/uploads/article/main_image/78713/Riego-tecnificado.jpg?ex=654bd7bd&is=653962bd&hm=6ca77347d82025bafd1b990cd3aac692c8ecb02d271d4cf9c77e38c874e93f43&=" alt="Riego">
                <div class="bottomleft">IRRIGATION</div>
            </div>
            <div class="box1">
                <img src="https://images.squarespace-cdn.com/content/v1/63064607eb816a4d50027fd1/1688398925707-J1DZKYEDFAAPESGIT1KD/eden-green-vertical-produce.jpg?ex=654bd800&is=65396300&hm=dcaf67d3dc99db728fc1db5da890999c9083612c6192a7fecde3f5f7ba778282&" alt="Agricultura Vertical">
                <div class="bottomleft">VERTICAL FARMING</div>
            </div>
        </section>

    </div>
    <div class="icons">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_left"></mat-icon>
        <mat-icon class="icon-right" aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
    </div>

    <div class="second-block">
        <h1 class="title">
            Hydroponics at Home
        </h1>
        <div class="card-container">
            <mat-card *ngFor="let allcourse of filteredCoursesbyCategory1">

                    <div class="box" >

                        <mat-card-header>
                            <img [src]="allcourse.image" alt="{{allcourse.name}}">
                        </mat-card-header>
                        <mat-card-content>
                            <div class="image-text" >
                                <h2>{{allcourse.name}}</h2>
                                <ul>
                                    <li>Duration: {{allcourse.duration}} weeks </li>
                                    <li> Description: {{allcourse.description}}</li>
                                </ul>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="matBtn" (click)="redirectToPayment(allcourse)">$ {{ allcourse.price }}</button>
                            <button mat-button class="matBtn">{{ allcourse.rating }} ⭐</button>
                        </mat-card-actions>


                    </div>


            </mat-card>

        </div>

    </div>

    <div class="trhith-block">
        <h1 class="title">
            Growing medicinal plants indoors
        </h1>
        <div class="card-container-2">
            <mat-card *ngFor="let allcourse of filteredCoursesbyCategory2" class="container-2">

                    <div class="box" >

                        <mat-card-header>
                            <img [src]="allcourse.image" alt="{{allcourse.name}}">
                        </mat-card-header>
                        <mat-card-content>
                            <div class="image-text" >
                                <h2>{{allcourse.name}}</h2>
                                <ul>
                                    <li>Duration: {{allcourse.duration}} weeks </li>
                                    <li> Description: {{allcourse.description}}</li>
                                </ul>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="matBtn" (click)="redirectToPayment(allcourse)">${{allcourse.price }}</button>
                            <button mat-button class="matBtn">{{ allcourse.rating }} ⭐</button>
                        </mat-card-actions>


                    </div>


            </mat-card>

        </div>

    </div>

    <div class="trhith-block">
        <h1 class="title">
            New Courses
        </h1>
        <div class="card-container-3">
            <mat-card *ngFor="let allcourse of filteredCoursesbyCategory3" class="container-3">

                    <div class="box" >

                        <mat-card-header>
                            <img [src]="allcourse.image" alt="{{allcourse.name}}">
                        </mat-card-header>
                        <mat-card-content>
                            <div class="image-text" >
                                <h2>{{allcourse.name}}</h2>
                                <ul>
                                    <li>Duration: {{allcourse.duration}} weeks </li>
                                    <li> Description: {{allcourse.description}}</li>
                                </ul>
                                <p>Created At: {{allcourse.dateCreated | date}}</p>
                            </div>

                        </mat-card-content>

                        <mat-card-actions>
                            <button mat-button class="matBtn" (click)="redirectToPayment(allcourse)">{{ allcourse.price | currency}}</button>
                            <button mat-button class="matBtn">{{ allcourse.rating }} ⭐</button>
                        </mat-card-actions>


                    </div>


            </mat-card>

        </div>

    </div>

</section>

