
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top h1{
    float: left;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 10px; /* Espacio entre elementos */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.box-large {
    grid-column: span 2;
    grid-row: span 2;
}

.box-small {
    grid-column: span 1;
    grid-row: span 1;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Forzar a llenar todo el contenedor */
    display: block;
}

.topleft, .bottomleft {
    position: absolute;
    padding: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}

.topleft {
    top: 10px;
    left: 10px;
}

.bottomleft {
    bottom: 10px;
    left: 10px;
}

/* Ajustar estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .container2 {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 150px;
    }

    .box-large {
        grid-column: span 2;
        grid-row: span 2;
    }

    .box-small {
        grid-column: span 1;
        grid-row: span 1;
    }
}
/* Estilos para diferentes bloques */
.card-container, .card-container-2, .card-container-3 {
    text-align: left;
    margin-bottom: 1%;
}
.container {
    
    width: 100%;
    padding: 1%;
    box-sizing: border-box;

}

/* Encabezados */
.title {
    font-size: 300%;
    margin: 2% ;
    color: #000; /* Color de texto en negro */
    margin-left: 20px;
}

/* Botones */
button.mat-raised-button {
    font-size: 2%;
    padding: 2% 4%;
    
    
}

.button1{
    background-color: #ffffff;
    margin-left: 60%;
    margin-top: 40px;
}

/* Iconos */
mat-icon {
    font-size: 4%;
    margin: 2%;
}

/* Bloques de contenido */
.first-block, .second-block, .trhith-block {
    width: 100%;
    margin-bottom: 4%;
}

/* Imágenes */
.box img {
    width: 100%;
    height: auto;
}

/* Grid */
mat-grid-list {
    width: 100%;
}

/* Tarjetas */
mat-card {
    width: 40%;
    margin: 2%;
    display: inline-block;
    color: #000; /* Color de texto en negro */
}


.matBtn{
    width: 50%;
}
.box{
    transition: box-shadow 0.3s ease;
    cursor:pointer;
    position: relative;
    gap: 200px;
}

.box:hover{
    box-shadow: 0 0.3rem 0.8rem rgba(0,0,0,0.3);
}

/* Ajustar estilos específicos para dispositivos móviles si es necesario */
@media (max-width: 768px) {
    .container {
        padding: 4%;
    }

    .title {
        font-size: 300%;
    }

    button.mat-raised-button {
        font-size: 3%;
        padding: 3% 6%;
    }

    mat-icon {
        font-size: 6%;
        margin: 3%;
    }

    .box img {
        width: 100%;
    }

    mat-card {
        width: 100%;
        margin: 4% 0;
    }
}
