<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="/">
                    <img src="../../../../assets/logo-nobg.png" alt="Logo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>CONTACT US</h2>
            <p>Email: info@greengrow.com</p>
            <p>Phone number: +123-456-7890</p>
        </div>
        <div class="box">
            <h2>FOLLOW US</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>GrowGenius</b> - All rights reserved.</small>
    </div>
</footer>
